@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello World. Welcome to Door Knocker!</h1>
<img src="~/Door.png" id="knockButton" alt="Door" style="cursor:pointer;">
<p>Knock Count: <span id="knockCount">0</span></p>
    
<script>
    const knockButton = document.getElementById('knockButton');
    const knockCountElement = document.getElementById('knockCount');
    let knockCount = 0;

    knockButton.addEventListener('click', () => {
        knockCount++;
        knockCountElement.innerText = knockCount;
    });
</script>
